body{
	background-image:url(img/background.png);
}
#main {
	background-image:url(img/cloud.png);
	background-repeat:no-repeat;
	
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	margin: auto;
	width: 1061px;
	height: auto;
}
#mainTop {
	background-image: url(img/mainTop.png);
	height: 141px;
	width: 1061px;
	margin-top: 150px;
}
#mainBottom {
	background-image: url(img/mainBottom.png);
	height: 638px;
	width: 1061px;
}
#searchBox {
	
	height: 30px;
	width: 205px;
	position: relative;
	top: 50px;
	left: 700px;
	background-image: url(img/searchBox.png);
	background-repeat: no-repeat;
	background-color:transparent;
	border:none;
	padding-left:10px;
	padding-right:50px;
}
#searchBox:focus {
	background-image: url(img/searchBoxActived.png);
	outline:none;
}

#logo{
	background-image:url(img/logo.png);
	background-repeat:no-repeat;
	width: 134px;
	height: 29px;
	position:relative;
	left:100px;
}
#searchbutton {
	background-image: url(img/searchButton.png);
	height: 31px;
	width: 46px;
}
#searchbutton:hover{
	background-image:url(img/searchButtonActived.png);
	cursor:pointer;
}
